html {
	height: 100%;
	
}
body{
/*	background-color: blue;*/
/* background-image:url(./assets/images/background.jpg) not working*/
}

header {
	font-size: 200%;
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 100;
	margin: 20px 0;

}
h1{
	font-size: 200%
}
h3{
	opacity: 0.5;
}
h3:hover {
    opacity:2;
}

#purpose {
    color: blue;
    /*text-shadow: 2px 2px 2px #CCCCCC;*//*shadow Effect*/
    /*color: #ECECF6;*/
    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000; 
    opacity: 0.5;
    font-size: 100%;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

 
.home {
	margin: 10% 0px;
}

.search {
	margin: 5px 0;
	width: 100%;
}

.home-small {
	margin: 25% 0;
}

.form-control {
	padding: 30px 10px;
	font-size: 20px;
}

.form-control-small {
	padding: 0px;
}

.btn {
	width: 20%;
	text-align: center;
}

.btn-nav {
	width: 40%;
}

.radio-button {
	font-size: 15px;
	text-align: center;
	padding: : 0px 60px;
}

.tittleDisplay{
	display: inline;
}

img{
	border-radius: 5%;
	padding:5px;
	border: solid #ccc 1px;
}
img:hover {
    background-color: blue;
    cursor:pointer;

}
/*.grow img{
	width:300px;
	height:300px;
}*/
.grow img {
  height: 100%;
  width: 100%;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  width: 110%;
  height: 110%;
}

#upVoteBtn{
	margin-right: 2%
}
#likesDisplay{
	opacity:0;
}

