html {
	height: 100%;
}

header {
	font-size: 60px;
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 100;
	margin: 20px 0;
}

.home {
	margin: 10% 0px;
}

.search {
	margin: 5px 0;
	width: 100%;
}

.home-small {
	margin: 25% 0;
}

.form-control {
	padding: 30px 10px;
	font-size: 20px;
}

.form-control-small {
	padding: 0px;
}

.btn {
	width: 20%;
	text-align: center;
}

.btn-nav {
	width: 40%;
}

.radio-button {
	font-size: 15px;
	text-align: center;
	padding: : 0px 60px;
}

img{
	display:inline-block;
	float:left;
	margin-right:2%;
	margin-bottom:2%;
	width:20%;
	padding:3px;
	border: solid #ccc 1px;
}
img:hover {
    background-color: blue;
}