html {
	height: 100%;
}



body{
	background: url('../images/tongs.jpg');
	/*	background-color: blue;*/
	/* background-image:url(./assets/images/background.jpg) not working*/

}

header {
	font-size: 200%;
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 100;
	color:white;
	margin: 20px 0;

}
h1{
	font-size: 200%
}
h3{
	opacity: 0.5;
}
h3:hover {
    opacity:2;
}

#purpose {
    color: black;
    /*text-shadow: 2px 2px 2px #CCCCCC;*//*shadow Effect*/
    /*color: #ECECF6;*/
    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
    font-size: 100%;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}


.home {
	margin: 10% 0px;
}

.search {
	margin: 5px 0;
	width: 100%;
}

.home-small {
	margin: 25% 0;
}

.form-control {
	padding: 30px 10px;
	font-size: 20px;
}

.form-control-small {
	padding: 0px;
}

.btn {
	width: 20%;
	text-align: center;
}

.btn-nav {
	width: 40%;
}

.radio-button {
	font-size: 15px;
	text-align: center;
	padding: : 0px 60px;
}

.tittleDisplay{
	display: inline;
}
input.sideSearch{
	margin-bottom: 3px;
	border-radius:5px;
	/*width:250px;*/

}
button.sideVideoBtn{
	margin-right:5px;
	background-color: blue;
}
button.sideAudioBtn{
}

img{
	border-radius: 5%;
	padding:5px;
	border: solid #ccc 1px;
}
img:hover {
    background-color: blue;
    cursor:pointer;

}
/*.grow img{
	width:300px;
	height:300px;
}*/
.grow img {
  height: 90%;
  width: 90%;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  width: 105%;
  height: 105%;
}

#upVoteBtn{
	margin-right: 2%
}
#audio1{
	color: white;
	background-color:purple
}
#likeDisplay{
	/*border: solid;*/
	border-radius: 6px;
	color:black;
	opacity:0.7;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 2px auto;
	padding-bottom: 2px auto;
	border: solid 1px;
	max-width: 100px;
	height:40px;
	background-color: white;
	border-width: 2px;

}

iframe{
  max-width: 100% !important
}

@media only screen and (max-width: 640px){
  	h3{
  		font-size: 150%
  	}
  	input.sideSearch{
		width:500px;
		height:40px;
	}
	button.sideVideoBtn{
		width:150px;
	}
	button.sideAudioBtn{
		width:150px;
	}
}

@media only screen and (max-width: 480px){
  	h3{
  		font-size:100%
  	}
  	input.sideSearch{
		width:300px;
		height:40px;
	}
	button.sideVideoBtn{
		width:100px;
	}
	button.sideAudioBtn{
		width:100px;
	}
}
@media only screen and (max-width: 320px){
  	h3{
		font-size: 10%;

  	}
  	body{
  		font-size: 50%;
  	}
  	input.sideSearch{
		width:150px;
		height:30px;
	}
	button.sideVideoBtn{
		width:90px;
	}
	button.sideAudioBtn{
		width:90px;
	}

}

/*#likeDisplay[type="text"]{

}
*/


